extends layout

block content
  h1= "Tw0 B!rd5"
  p you know who you are !
  div.matrix
  button.matrix.btn.btn-info(type='button') Untersuchen
  div.words
    ul
  script(
    src="javascripts/index.js"
  )
