body {
  padding-left: 10px;
  font-family: monospace;
}

a {
  color: #00B7FF;
}
input {
  text-align:center;
  text-transform: uppercase;
  width:40px;
  height:40px;
  line-height:40px;
  font-size:20px;
  font-family: monospace;
  border-radius:5px;
  border:1px solid #ccc;
}
div.matrix {
  width:240px;
  margin-bottom:10px;
}
button.matrix {
  width:240px;
}
.words li span {
  display:none;
}
.words li {
  font-family: monospace;
  cursor:pointer;
  width:220px;
}
ul {
  padding:10px;
  list-style:none;
}